.customer{
    width: 30rem;
    margin: 4rem auto;
    max-width: 80%;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}

.customer h4{
    pointer-events: none;
  }
  
.main :hover{
    background-color:#534f5073;
}