.Modal {
    position: fixed;  
    background-color: white;
    width: 40%;
    height: 40%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 30%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}
